
.container {
    width: max-content;
    margin: 0;
    padding: 0;
    border: 1px;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid red;
}

#row {
    flex-direction: row;
}

.column {
    width: 20px;
    height: 20px;
}

input {
    margin-bottom: 16px;
}