
.container {
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
    border: 1px;
    display: flex;
    flex-wrap: nowrap;
}

#row {
    flex-direction: row;
}

.column {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: white;
    flex-direction: row;
}

input {
    margin-bottom: 16px;
}