.container {
    margin: 0;
    padding: 0;
    border: 1px;
    display: flex;
    flex-wrap: wrap;
}

#row {
    width: 30px;
    height: 30px;
    flex-direction: row;
}

#column {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    flex-direction: row;
}

input {
    margin-bottom: 16px;
}